# VacationPy
----

#### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os
import json

# Import API key
from api_keys import g_key
print(g_key)

AIzaSyBV47iSNUjYPNQZE2UoJyUddUSKECu6ja8

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [2]:
cities_data_load = "../output_data/cities_df.csv"
cities_data = pd.read_csv(cities_data_load)
cities_data.head()

,Cities,Max Temp,Humidity,Cloudiness,Country,Date,Windspeed,Longitude,Latitude
0,tilichiki,14.36,90,0,RU,1586473386,5.73,166.10,60.47
1,bam,68.07,41,97,IR,1586473387,5.41,58.36,29.11
2,esperance,64.40,93,40,AU,1586473389,4.70,121.90,-33.87
3,castro,56.37,54,0,BR,1586473220,1.86,-50.01,-24.79
4,chokurdakh,14.38,95,93,RU,1586473114,13.53,147.92,70.63

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [3]:
coordinates = cities_data[["Latitude", "Longitude"]].astype(float)
humidity =  cities_data["Humidity"].astype(float)
fig = gmaps.figure()

heat_layer = gmaps.heatmap_layer(coordinates, weights=humidity, 
                                 dissipating=False, max_intensity=100,
                                 point_radius = 1)

fig.add_layer(heat_layer)

fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [29]:
hotel_df = cities_data.loc[(cities_data["Max Temp"] <= 70) & (cities_data["Max Temp"] >= 60)
                                    & (cities_data["Windspeed"] < 10) & (cities_data["Cloudiness"] == 0)]
hotel_df = hotel_df.dropna()

hotel_df["Location"] = hotel_df['Latitude'].astype(str) + "," + hotel_df['Longitude'].astype(str)
hotel_df["Longitude"].astype(str)
hotel_df

,Cities,Max Temp,Humidity,Cloudiness,Country,Date,Windspeed,Longitude,Latitude,Location
100,airai,66.74,62,0,TL,1586473513,2.04,125.41,-8.93,"-8.93,125.41"
161,abapo,62.71,32,0,BO,1586473588,3.60,-63.47,-18.83,"-18.83,-63.47"
185,formosa,66.20,63,0,AR,1586473616,8.05,-58.18,-26.18,"-26.18,-58.18"
398,baghdad,66.20,52,0,IQ,1586473703,5.82,44.40,33.34,"33.34,44.4"
477,veinticinco de mayo,61.00,58,0,AR,1586473972,1.99,-60.17,-35.43,"-35.43,-60.17"
498,mercedes,63.00,71,0,AR,1586473996,1.01,-59.43,-34.65,"-34.65,-59.43"
504,presidencia roque saenz pena,60.78,58,0,AR,1586474003,5.37,-60.44,-26.79,"-26.79,-60.44"
517,coihueco,60.80,63,0,CL,1586474020,3.36,-71.83,-36.62,"-36.62,-71.83"

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [30]:
hotel_names= []
locations = hotel_df[["Location"]].astype(str)
location_list = locations.values.tolist()
# using list comprehension 
out = [item for t in location_list for item in t] 
# geocoordinates
coordinates = out
target_radius = 5000
target_type = "lodging"
# set up a parameters dictionary
params = {"location": coordinates,
    "radius": target_radius,
    "type": target_type,
    "key": g_key}
# base url
base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json?"
for location in coordinates:
    hotel_response = requests.get(base_url + "location=" + location + "&radius=5000" + "&type=lodging" + "&key=" + g_key)
    #print(hotel_response.url)
    #print(json.dumps(hotel_response.json(), indent = 4))
    try:
        places_data = hotel_response.json()
        hotel_names.append(places_data["results"][0]["name"])
        
    except:
        hotel_names.append("No Hotels")
        print("Hotel not found. Skipping...")
    
print(hotel_names)

Hotel not found. Skipping...
['Juvinal Martin', 'No Hotels', 'Asterión Hotel', 'Baghdad Hotel', 'Estancia La Rosada', 'Posada del Inti Centro', 'Hotel Aconcagua', 'Frutillares Coihueco']

In [32]:
hotel_df["Hotel Names"] = hotel_names

In [34]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Names}</dd>
<dt>City</dt><dd>{Cities}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
#Store the DataFrame Row
#NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Latitude", "Longitude"]]

In [35]:
# Add marker layer ontop of heat map
hotel_list = hotel_names
hotel_layer = gmaps.symbol_layer(locations, fill_color='rgba(0, 150, 0, 0.4)', stroke_color='rgba(0, 0, 150, 0.4)', 
                                 scale=8, info_box_content = hotel_info)
fig = gmaps.figure()
fig.add_layer(hotel_layer)
fig.add_layer(heat_layer)

#Display Heatmap
fig

Figure(layout=FigureLayout(height='420px'))